{% extends "base.html" %}
{% block content %}

<hr />
<form method='POST'>
    <body>
        <h4 style="text-align:center">All USERS</h4>
        {% if users|length == 0 %}
            <p>NO Users</p>
        {% else %}
            {% for user in users %}
                <ul>
                
                    <a href="/single_user?id={{user.id}}"><li>{{user.username}}</li></a>
             
                </ul>
            {% endfor %}      
        {% endif %}
        
    </body>    

</form>
{% endblock %}